#In [4]

In [1]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + r)**n)
print(round(fv, 2))

194.87

#In [6]

In [2]:
amount = 100
interest = 10
years = 7

future_value = amount * ((1 + 0.01 * interest)**years)
print(round(future_value, 2))

194.87

 # comment

In [83]:
 score = 80
 if score >=60 :
    print("Pass")

Pass

In [84]:
 # Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)

2 2.5 Hello

In [85]:
 # comment
 from platform import python_version
 print("Python Version:", python_version())

Python Version: 3.13.6

In [86]:
help(python_version)

Help on function python_version in module platform:

python_version()
    Returns the Python version as string 'major.minor.patchlevel'

    Note that unlike the Python sys.version, the returned value
    will always include the patchlevel (it defaults to 0).

#Python Data Type

In [87]:
#Python Data Type
x = "Hello World"   #str 
print(x, type(x))

x = 2               #int 
print(x, type(x))

x = 2.5             #float
print(x, type(x))

x = 7j              #complex 
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [88]:
#Python Data Types
x = ["apple", "banana", "cherry"]   #list 
print(x, type(x))

x = ("apple", "banana", "cherry")   #tuple 
print(x, type(x))

x = range(6)                        #range 
print(x, type(x))

x = {"name" : "Tom", "age" : 20}    #dict
print(x, type(x))

x = {"apple", "banana", "cherry"}   #set 
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'apple', 'cherry', 'banana'} <class 'set'>

In [89]:
x = True                    #bool 
print(x, type(x))

x = b"Hello"                #bytes 
print(x, type(x))

x = bytearray(5)            #bytearray
print(x, type(x))

x = memoryview(bytes(5))    #memoryview
print(x, type(x))

x = None                    #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x00000197414F31C0> <class 'memoryview'>
None <class 'NoneType'>

#Python Basic Operators

In [90]:
 print('7 + 2 =', 7+ 2)
 print('7 -2 =', 7-2)
 print('7 * 2 =', 7* 2)
 print('7 / 2 =', 7/ 2)
 print('7 // 2 =', 7// 2)
 print('7 % 2 =', 7% 2)
 print('7 ** 2 =', 7** 2)

7 + 2 = 9
7 -2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

#Python Booleans:  True or False

In [91]:
 # Python Booleans: True or False
 print(3 > 2)
 print(3 == 2)
 print(3 < 2)

True
False
False

#Python BMI Calculator

In [92]:
# BMI Calculator in Python
height_cm= 170
weight_kg= 60
height_m= height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

In [93]:
a=3
b=2
c=a**b
print(c)
# "**" là lũy thừa

9

#How much is your $100 worth after 7 years?

In [94]:
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

#Future Value

In [95]:
pv= 100
r = 0.1
n = 7
fv= pv* ((1+ (r)) ** n)
print(round(fv, 2))

194.87

In [96]:
amount = 100
interest = 10#10% = 0.01 * 10 
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

** Python Data Structures**

#Lists []

In [97]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

#What is "len"
help(len)

#len(): how many items 
#type(): data type
#list() constructor: creating a new list

4
60
70
90
Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

#Python List Methods

In [98]:
#Method Description
##append()Adds an element at the end of the list
##clear() Removes all the elements from the list
##copy() Returns a copy of the list
##count() Returns the number of elements with the specified value
##extend() Add the elements of a list (or any iterable), to the end of the current list
##index() Returns the index of the first element with the specified value
##insert() Adds an element at the specified position
##pop() Removes the element at the specified position
##remove()Removes the item with the specified value
##reverse() Reverses the order of the list
##sort() Sorts the list

#Tuples ()

In [99]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

#Sets {}

In [100]:
animals = {'cat', 'dog'}
print('cat'in animals)
print('fish' in animals)
animals.add('fish')
print('fish'in animals) 
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

#Dictionary {key : value}

In [101]:
k = { 'EN':'English', 'FR':'French'}
print(k['EN'])
print(k['FR'])

English
French

In [102]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

#Python for Finance Applications

In [103]:
# Python Lists 
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [105]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), 
("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [106]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [108]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"}, "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"}, "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

**Python Control Logic and Loops**

In [112]:
# Python if 
score = 80
if score >=60:
    print("Pass")

Pass

In [113]:
# Python if else
score = 80
if score >=60:
    print("Pass")
else:
    print("Fail")

Pass

In [115]:
#Python if elifelse
score = 95
if  score >= 90:
    print("A")
elif score >=60:
    print("Pass")
else:
    print("Fail")

A

In [116]:
#Python if elifelse
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

In [118]:
#Python for Loops
for i in range(1,6):
    print(i)

1
2
3
4
5

In [122]:
# for loops
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [124]:
#Python while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

**Python Functions**

In [126]:
# Python Function def
# indentation for blocks. four spaces
def getfv (pv, r, n):
    fv = pv * ((1+ (r)) ** n)
    return fv
fv= getfv (100, 0.1, 7)
print(round(fv, 2))

194.87

**Future value of a specified principal amount, rate of interest, and a number of years**

In [127]:
#How much is your $100 worth  after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [129]:
# Future Value
pv= 100
r = 0.1
n = 7
fv= pv* ((1+ (r)) ** n)
print(round(fv, 2))

194.87

In [130]:
# Future Value
amount = 100
interest = 10#10% = 0.01 * 10 
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [134]:
# Python Function def
# indentation for blocks. four spaces
def getfv (pv, r, n):
    fv = pv * ((1+ (r)) ** n)
    return fv   
fv= getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

**Python Classes/Objects class MyClass:**

In [139]:
# Python class
class MyClass:
    x = 5

    c1 = MyClass()
    print(c1.x)

5

In [ ]:
#Python Classes/Objects
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [161]:
#Python Classes/Objects

car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description (self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump